@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;

        --accent-primary: 260 77% 44%;
        --accent-secondary: 260 66% 77%;
        --accent-tertiary: 260 66% 88%;
        --accent-quaternary: 260 40% 97%;
        --accent: var(--accent-primary);
        --accent-foreground: 0 0% 98%;

        --destructive: 0 63% 31%;
        --destructive-border: 0 46% 35%;
        --destructive-foreground: 0 0% 98%;

        --highlight-50: 260 74% 94%;
        --highlight-100: 260 75% 89%;
        --highlight-200: 260 76% 77%;
        --highlight-300: 260 77% 66%;
        --highlight-400: 260 77% 55%;
        --highlight-500: 260 77% 44%;
        --highlight-600: 260 77% 39%;
        --highlight-700: 260 77% 34%;
        --highlight-800: 260 77% 29%;
        --highlight-900: 260 77% 25%;
        --highlight-950: 260 77% 22%;

        --highlight: var(--accent-500);

        --background-primary: 0 0% 98%; /* 50 */
        --background-secondary: 0 0% 92%;
        --background-tertiary: 0 0% 88%;
        --background-quaternary: 0 0% 84%;
        --background: var(--background-primary);

        --foreground-primary: 0 0% 9%; /* 900 */
        --foreground-secondary: 0 0% 25%; /* 700 */
        --foreground-tertiary: 0 0% 45%; /* 500 */
        --foreground-quaternary: 0 0% 64%; /* 400 */
        --foreground: var(--foreground-primary);
    }

    .dark {
        --radius: 0.5rem;

        --accent-primary: 260 77% 66%;
        --accent-secondary: 260 55% 44%;
        --accent-tertiary: 260 33% 22%;
        --accent-quaternary: 260 16% 12%;
        --accent: var(--accent-primary);
        --accent-foreground: 0 0% 98%;

        --destructive: 0 63% 31%;
        --destructive-border: 0 46% 35%;
        --destructive-foreground: 0 0% 98%;

        --highlight-50: 260 75% 97%;
        --highlight-100: 260 78% 93%;
        --highlight-200: 260 78% 86%;
        --highlight-300: 260 77% 80%;
        --highlight-400: 260 77% 73%;
        --highlight-500: 260 77% 66%;
        --highlight-600: 260 77% 57%;
        --highlight-700: 260 77% 48%;
        --highlight-800: 260 77% 38%;
        --highlight-900: 260 77% 29%;
        --highlight-950: 260 77% 25%;

        --highlight: var(--accent-500);

        --background-primary: 0 0% 9%; /* 900 */
        --background-secondary: 0 0% 15%;
        --background-tertiary: 0 0% 20%;
        --background-quaternary: 0 0% 25%;
        --background: var(--background-primary);

        --foreground-primary: 0 0% 98%; /* 50 */
        --foreground-secondary: 0 0% 80%;
        --foreground-tertiary: 0 0% 64%; /* 400 */
        --foreground-quarternary: 0 0% 45%; /* 500 */
        --foreground: var(--foreground-primary);
    }
}

@layer base {
    * {
        @apply border-background-tertiary;
    }
    body {
        @apply bg-background-primary text-foreground-primary;
        font-feature-settings: 'rlig' 1, 'calt' 1;
    }
}

@layer utilities {
    .draggable {
        -webkit-app-region: drag;
    }
    .non-draggable {
        -webkit-app-region: no-drag;
    }
    .macos .hidden.show-mac {
        display: unset;
    }
}

@layer components {
    .window-controls-container {
        @apply hidden;
    }
    .macos .window-controls-container {
        @apply block w-[70px] h-full;
    }
}
