@import '../reveal_js/dist/theme/black.css';

body {
    --main-color: white;
    --main-define-color: mediumaquamarine;
    --main-hilite-color: goldenrod;
    --main-warn-color: #f99;
    --main-note-color: #9cc;
}

.define {
    color: var(--main-define-color);
}
.hilite {
    color: var(--main-hilite-color);
}
.warn {
    color: var(--main-warn-color);
}
.note {
    color: var(--main-note-color);
}

.hilight-code-in-list li code,
.hilite-code-in-list li code {
    border: 1px solid #555;
    background-color: #333;
    border-radius: 0.1em;
    padding: 0 0.2em;
    font-size: 85%;
    color: #cef;
}
