@import '../reveal_js/dist/theme/white.css';

body {
    --main-color: black;
    --main-define-color: #090;
    --main-hilite-color: #92b;
    --main-warn-color: #c33;
    --main-note-color: #699;
}

.define {
    color: var(--main-define-color);
}
.hilite {
    color: var(--main-hilite-color);
}
.warn {
    color: var(--main-warn-color);
}
.note {
    color: var(--main-note-color);
}

.hilight-code-in-list li code,
.hilite-code-in-list li code {
    border: 1px solid #555;
    border-radius: 0.1em;
    padding: 0 0.2em;
    font-size: 85%;
}
