/* This class is added to all images. */
.image {
    min-width: 50px;
    min-height: 50px;
}

/* This class is added to inline images. */
/* .image-inline {

} */

/* This class is added to all block images. */
.image-block {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.reveal .image-cover {
    background-size: cover;
}

.reveal .image-contain {
    background-size: contain;
}

.reveal .image-center {
    background-position: center;
}

.reveal .image-top {
    background-position-y: top;
}

.reveal .image-bottom {
    background-position-y: bottom;
}

.reveal .image-left {
    background-position-x: left;
}

.reveal .image-right {
    background-position-x: right;
}
