/*
Configurable Variables of Reveal
*/

:root {
    /* --r-background-color: VALUE; */
    /* --r-main-font: VALUE ; */
    --r-main-font-size: 40px;
    /* --r-main-color: VALUE; */
    --r-block-margin: 0;
    --r-heading-margin: 0;
    /* --r-heading-font: VALUE; */
    /* --r-heading-color: VALUE; */
    /* --r-heading-line-height: VALUE; */
    /* --r-heading-letter-spacing: VALUE; */
    --r-heading-text-transform: none;
    /* --r-heading-text-shadow: VALUE; */
    --r-heading-font-weight: 400;
    /* --r-heading1-text-shadow: VALUE; */
    /* --r-heading1-size: VALUE; */
    /* --r-heading2-size: VALUE; */
    /* --r-heading3-size: VALUE; */
    /* --r-heading4-size: VALUE; */
    /* --r-code-font: VALUE; */
    /* --r-link-color: VALUE; */
    /* --r-link-color-dark: VALUE; */
    /* --r-link-color-hover: VALUE; */
    /* --r-selection-background-color: VALUE; */
    /* --r-selection-color: VALUE; */
}
