/*
Configurable Variables of Reveal
*/

:root {
    /* --r-background-color: VALUE; */
    /* --r-main-font: VALUE ; */
    --r-main-font-size: 2rem;
    /* --r-main-color: VALUE; */
    --r-block-margin: 0.25rem;
    --r-heading-margin: 0 0 1rem 0;
    /* --r-heading-font: VALUE; */
    --r-heading-color: inherit;
    --r-heading-line-height: 1;
    /* --r-heading-letter-spacing: VALUE; */
    --r-heading-text-transform: none;
    /* --r-heading-text-shadow: VALUE; */
    /* --r-heading-font-weight: VALUE; */
    /* --r-heading1-text-shadow: VALUE; */
    /* --r-heading1-size: VALUE; */
    /* --r-heading2-size: VALUE; */
    /* --r-heading3-size: VALUE; */
    /* --r-heading4-size: VALUE; */
    /* --r-code-font: VALUE; */
    /* --r-link-color: VALUE; */
    /* --r-link-color-dark: VALUE; */
    /* --r-link-color-hover: VALUE; */
    /* --r-selection-background-color: VALUE; */
    /* --r-selection-color: VALUE; */
}

.reveal ul,
.reveal ol {
    margin: 0;
}

.reveal p {
    line-height: 1;
}
